

*{
    font-family: "Cinzel", serif;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Estilo del encabezado y el menú de navegación */
header {
    background-color: #333;
    color: #fff;
    
    
}

header nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 10px;
}

header nav ul a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    margin: 0;
    padding: 10px 20px;
    transition: background-color ;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-container {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px 30px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-size: 14px;
    text-align: left;
}

form input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}